<ngx-spinner *ngIf="isLoadingChangePass">
  <p class="loading">Changing password ...</p>
</ngx-spinner>

<div class="row">
  <div class="col"></div>
  <div class="col-sm-6">
    <!-- Image -->
    <img class="img-responsive" src="assets/common/welcome_image.png" class="welcome__image">
    <br>
    <br>

    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" formControlName="oldPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
          <div *ngIf="f.oldPassword.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">New Password is required</div>
          <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
        <a routerLink="/" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
  <div class="col"></div>
</div>