<ngx-spinner *ngIf="isLoading">
  <p class="loading">Loading ...</p>
</ngx-spinner>

<div class="modal-body" (keyup.enter)="checkPrivateKey()">
  <div *ngIf="messageError">
    <strong><span class="text-danger">{{ messageError }}</span></strong>
  </div>

  <br>

  <input mat-input class="numeric-password" placeholder="Type private key" [(ngModel)]="privateKey" style="width: 70%;"
    ngbAutofocus>

  <button mat-button style="width: 20%;" (click)="checkPrivateKey()">
    <strong>OK</strong>
  </button>

  <p *ngIf="displayPassword&&displayPassword.indexOf('*') > -1">{{displayPassword}}</p>
  <p *ngIf="displayPassword&&displayPassword.indexOf('*') <= -1" style="color: green;">{{displayPassword}}</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }} </button>
</div>