Develop/Backend/.classpath
Develop/Backend/.project
Develop/Backend/.settings/
Develop/Backend/logs/
Develop/Backend/target/
Develop/Backend/src/main/resources/dataExternal/

Deploy/Backend/run/
Deploy/Backend/logs/
Develop/Frontend1/
