Develop/Backend/.classpath
Develop/Backend/.project
Develop/Backend/.settings/
Develop/Backend/logs/
Develop/Backend/target/
Develop/Backend/src/main/resources/dataExternal/vcb.txt

Deploy/Backend/sohebox-1.0.0.jar
