<ngx-spinner *ngIf="isLoading">
    <p class="loading">Updating ...</p>
</ngx-spinner>

<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p><strong>{{ message }}</strong>
        <strong><span class="text-danger">{{ messageError }}</span></strong></p>

    <form class="english-form">
        <!-- Field : keyword vus grade -->
        <mat-form-field class="field-full-width">
            <input matInput [matAutocomplete]="autoGrade" [formControl]="gradeControl" [(ngModel)]="gradeSelect">
            <mat-placeholder *ngIf="!this.gradeControl.value" class="placeholder">New VUS
                grade</mat-placeholder>
            <mat-autocomplete #autoGrade="matAutocomplete" [displayWith]="displayGrade">
                <mat-option *ngFor="let grade of filteredGrades | async" [value]="grade">
                    {{grade.typeName}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="gradeControl.hasError('required')">
                <strong>Required</strong>
            </mat-error>
            <mat-error *ngIf="gradeControl.hasError('incorrect')">
                Please select a valid grade
            </mat-error>
        </mat-form-field>

        <!-- Field : keyword learn day -->
        <mat-form-field class="field-full-width">
            <input matInput [matAutocomplete]="autoLearnDay" [formControl]="learnDayControl"
                [(ngModel)]="learnDaySelect">
            <mat-placeholder *ngIf="!this.learnDayControl.value" class="placeholder">
                Select Learnd day</mat-placeholder>
            <mat-autocomplete #autoLearnDay="matAutocomplete" [displayWith]="displayLearnDay">
                <mat-option *ngFor="let learnDay of filteredLearnDays | async" [value]="learnDay">
                    {{learnDay.typeName}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="learnDayControl.hasError('required')">
                <strong>Required</strong>
            </mat-error>
            <mat-error *ngIf="gradeControl.hasError('incorrect')">
                Please select a valid learned day
            </mat-error>
        </mat-form-field>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()" ngbAutofocus>{{ btnCancelText }} </button>
    <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
</div>