<ngx-spinner *ngIf="isLoading">
  <p class="loading">Loading page ...</p>
</ngx-spinner>

<mat-toolbar class="mat-toolbar-style">
  <!-- 1st toolbar row -->
  <mat-toolbar-row>
    <!-- Add -->
    <button mat-button class="toolbar-button-style" (click)="add()">
      <mat-icon>add</mat-icon>
      <strong>New</strong>
    </button>

    <!-- Delete -->
    <button mat-button class="toolbar-button-style" (click)="delete()" disabled>
      <mat-icon>delete</mat-icon>
      <strong>Delete</strong>
    </button>

    <!-- Add spaces   -->
    <span class="toolbar-spacer-style"></span>

    <h1 class="toolbar-title-style" fxHide.xs>LIST CONFIGURATIONS</h1>

    <!-- Add spaces   -->
    <span class="toolbar-spacer-style"></span>

    <!-- Refresh -->
    <button mat-button class="toolbar-button-style" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
      <strong>Refresh</strong>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Table data -->
<input matInput class="page-input-filter" (keyup)="onFilter($event)" placeholder="Type to search value...">

<mat-paginator 
  class="mat-table-paginator-style" 
  [length]="pageResult.totalElement" 
  [pageIndex]="pageResult.currentPage" 
  [pageSize]="pageResult.pageSize" 
  [pageSizeOptions]="[5, 10, 20, 50]"
  (page)="handlePaginatorEvent($event)" 
  showFirstLastButtons>
</mat-paginator>

<ngx-datatable 
      class="material" 
      [rows]="pageResult.elements" 
      [columnMode]="'force'" 
      [headerHeight]="50"
      [footerHeight]="50" 
      rowHeight="auto" 
      [externalPaging]="true" 
      [externalSorting]="true"
      [count]="pageResult.totalElement" 
      [offset]="pageResult.currentPage" 
      [limit]="pageResult.pageSize"
      (page)="setPage($event)" 
      (sort)="onSort($event)"
      [selected]="selected"
      [selectionType]="'checkbox'"
      (select)="onSelect($event)">

  <!-- Checkbox Column -->
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn">
      <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
    </ng-template>
    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn">
      <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
    </ng-template>
  </ngx-datatable-column>

  <!-- Config Key -->
  <ngx-datatable-column name="Config Key" prop="configKey">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Config Value -->
  <ngx-datatable-column name="Config Value" prop="configValue">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Description -->
  <ngx-datatable-column name="Description" prop="description" *ngIf="windownInnerWidth >= 500">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Edit Column -->
  <ngx-datatable-column [sortable]="false" >
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>drag_indicator</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewDetailChoose(row)">Detail</button>
        <button mat-menu-item (click)="editChoose(row)">Edit</button>
        <button mat-menu-item (click)="deleteChoose(row)" disabled>Delete</button>
      </mat-menu>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>