<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div>
  <button mat-button class="page-title-bottom">USER LIST</button>

  <br />
  <br />
  <input
    matInput
    class="page-input-filter"
    (keyup)="onFilter($event)"
    placeholder="Type to filter the username column..."
  />

  <mat-paginator
    class="mat-table-paginator-style"
    [length]="pageResult.totalElement"
    [pageIndex]="pageResult.currentPage"
    [pageSize]="pageResult.pageSize"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="handlePaginatorEvent($event)"
    showFirstLastButtons
  >
  </mat-paginator>

  <ngx-datatable
    class="material"
    [rows]="pageResult.elements"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [externalPaging]="true"
    [externalSorting]="true"
    [count]="pageResult.totalElement"
    [offset]="pageResult.currentPage"
    [limit]="pageResult.pageSize"
    (page)="setPage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Full Name" prop="firstName" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.firstName }} {{ row.lastName }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="User Name" prop="username" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="Role"
      prop="role"
      [flexGrow]="1"
      *ngIf="windownInnerWidth >= 500"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.roleName }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Status" [sortable]="false" [flexGrow]="4">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.status }} {{ row.durationTime }} ago
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
