.food-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}

.field-input-value {
  color: blue;
}

.field-is-fast-food {
  color: grey;
}

.icon_image {
  width: 95%;
}
