<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p>
    <strong>{{ message }}</strong>
    <strong
      ><span class="text-danger">{{ messageError }}</span></strong
    >
  </p>

  <form class="youtube-channel-form">
    <!-- Field : Channel ID -->
    <mat-form-field class="field-full-width">
      <input
        class="field-input-value"
        matInput
        type="text"
        placeholder="Channel ID"
        [formControl]="channelIdFormControl"
        [errorStateMatcher]="matcher"
        [(ngModel)]="channelIdValue"
      />
      <mat-error *ngIf="channelIdFormControl.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="channelIdFormControl.hasError('channelIdIsExisted')">
        <strong>This channel ID is existed</strong>
      </mat-error>
    </mat-form-field>

    <!-- Field : Name -->
    <mat-form-field class="field-full-width">
      <input
        class="field-input-value"
        matInput
        type="text"
        placeholder="Name"
        [formControl]="nameFormControl"
        [errorStateMatcher]="matcher"
        [(ngModel)]="nameValue"
      />
      <mat-error *ngIf="nameFormControl.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Field : Description -->
    <mat-form-field class="field-full-width">
      <input
        class="field-input-value"
        matInput
        type="text"
        placeholder="Description"
        [formControl]="descriptionFormControl"
        [errorStateMatcher]="matcher"
        [(ngModel)]="descriptionValue"
      />
      <mat-error *ngIf="descriptionFormControl.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Field : Category -->
    <mat-form-field class="field-full-width">
      <img
        *ngIf="selectedCategoryChannel"
        class="img-responsive"
        src="assets/media/function/{{ selectedCategoryChannel.iconUrl }}"
        style="max-width: 1.4rem"
      />
      <input
        class="field-input-value"
        matInput
        type="text"
        placeholder="Pick or type new category"
        [matAutocomplete]="autoCategory"
        [formControl]="categoryFormControl"
        [errorStateMatcher]="matcher"
        [(ngModel)]="categoryValue"
      />
      <mat-error *ngIf="categoryFormControl.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-autocomplete #autoCategory="matAutocomplete">
        <mat-option
          (onSelectionChange)="onChangeChannelIdCategory(category)"
          *ngFor="let category of filteredCategories | async"
          [value]="category.typeCode"
        >
          <img
            *ngIf="category.iconUrl"
            class="img-responsive"
            src="assets/media/function/{{ category.iconUrl }}"
            style="max-width: 1.4rem"
          />
          {{ category.typeName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="decline()" ngbAutofocus>
    {{ btnCancelText }}
  </button>
  <button type="button" class="btn btn-primary" (click)="accept()">
    {{ btnOkText }}
  </button>
</div>
