<ngx-spinner *ngIf="isLoading">
    <p class="loading">Loading page ...</p>
</ngx-spinner>

<mat-toolbar class="mat-toolbar-style">
    <!-- 1st toolbar row -->
    <mat-toolbar-row>
        <!-- Add -->
        <button mat-button class="toolbar-button-style" (click)="add()">
            <mat-icon>add</mat-icon>
            <strong>New</strong>
        </button>

        <!-- Add spaces   -->
        <span class="toolbar-spacer-style"></span>

        <h1 class="toolbar-title-style" fxHide.xs>LIST FOODS</h1>

        <!-- Add spaces   -->
        <span class="toolbar-spacer-style"></span>

        <!-- Refresh -->
        <button mat-button class="toolbar-button-style" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
            <strong>Refresh</strong>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Table data -->
<input matInput class="page-input-filter" (keyup)="onFilter($event)" placeholder="Type to search value...">

<mat-paginator class="mat-table-paginator-style" [length]="pageResult.totalElement" [pageIndex]="pageResult.currentPage"
    [pageSize]="pageResult.pageSize" [pageSizeOptions]="[5, 10, 20, 50]" (page)="handlePaginatorEvent($event)"
    showFirstLastButtons>
</mat-paginator>

<ngx-datatable class="material" [rows]="pageResult.elements" [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" rowHeight="auto" [externalPaging]="true" [externalSorting]="true"
    [count]="pageResult.totalElement" [offset]="pageResult.currentPage" [limit]="pageResult.pageSize"
    (page)="setPage($event)" (sort)="onSort($event)">

    <!-- Channel Name -->
    <ngx-datatable-column name="Channel Name" prop="name">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div style="text-transform: capitalize">
                {{ value }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- Category -->
    <ngx-datatable-column name="Category">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-container *ngIf="row.category; else defaultValue">
                <ng-container *ngIf="row.category.iconUrl">
                    <img class="img-responsive" src="assets/media/function/{{row.category.iconUrl}}"
                        style="max-width: 1.4rem;">
                </ng-container>
                {{row.category.typeName}}
            </ng-container>
        </ng-template>
        <ng-template #defaultValue>
            Null
        </ng-template>
    </ngx-datatable-column>

    <!-- Description -->
    <ngx-datatable-column name="Description" prop="description">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div style="text-transform: capitalize">
                {{ value }}
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- Edit Column -->
    <ngx-datatable-column [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>drag_indicator</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editChoosen(row)">Edit</button>
            </mat-menu>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>