<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p>
    <strong>{{ message }}</strong>
    <strong
      ><span class="text-danger">{{ messageError }}</span></strong
    >
  </p>

  <form class="sh_dialog_form">
    <!-- Field : token -->
    <mat-form-field class="sh_dialog_form_field_full_width">
      <input
        matInput
        placeholder="Choose token"
        [formControl]="tokenFormControl"
        [matAutocomplete]="autoToken"
        [(ngModel)]="tokenValue"
      />
      <mat-autocomplete
        #autoToken="matAutocomplete"
        [displayWith]="displayToken"
      >
        <mat-option
          *ngFor="let token of filteredTokens | async"
          [value]="token"
        >
          <img
            class="img-responsive"
            src="assets/crypto/{{ token.iconUrl }}"
            class="sh_dialog_img_icon"
          />
          {{ token.tokenCode }} ({{ token.tokenName }})
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="tokenFormControl.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="tokenFormControl.hasError('incorrect')">
        Invalid category
      </mat-error>
    </mat-form-field>

    <!-- Field : wallet -->
    <mat-form-field class="sh_dialog_form_field_full_width">
      <input
        matInput
        placeholder="Wallet address"
        [formControl]="walletFormControl"
        [(ngModel)]="walletValue"
      />
      <mat-error *ngIf="walletFormControl.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Field : starname -->
    <mat-form-field class="sh_dialog_form_field_full_width">
      <input
        matInput
        placeholder="Starname"
        [formControl]="starnameFormControl"
        [(ngModel)]="starnameValue"
      />
    </mat-form-field>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="decline()" ngbAutofocus>
    {{ btnCancelText }}
  </button>
  <button type="button" class="btn btn-primary" (click)="accept()">
    {{ btnOkText }}
  </button>
</div>
