<mat-toolbar class="mat-toolbar-style">
  <mat-toolbar-row>
    <button mat-button class="toolbar-button-style" (click)="selectGold()">
      <img
        class="finance-toolbar-icon-image"
        src="assets/finance/icon-gold.png"
      />
      <strong *ngIf="windownInnerWidth >= 410" style="color: gold">
        Gold</strong
      >
    </button>
    <button mat-button class="toolbar-button-style" (click)="selectOil()">
      <img
        class="finance-toolbar-icon-image"
        src="assets/finance/icon-energy.png"
      />
      <strong *ngIf="windownInnerWidth >= 410" style="color: blue">
        Energy</strong
      >
    </button>
    <button mat-button class="toolbar-button-style" (click)="selectCurrency()">
      <img
        class="finance-toolbar-icon-image"
        src="assets/finance/icon-currency.png"
      />
      <strong *ngIf="windownInnerWidth >= 410" style="color: white">
        Currency</strong
      >
    </button>
    <button mat-button class="toolbar-button-style" (click)="selectStock()">
      <img
        class="finance-toolbar-icon-image"
        src="assets/finance/icon-stock.png"
      />
      <strong *ngIf="windownInnerWidth >= 410" style="color: darkgreen">
        Stock</strong
      >
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<app-finance-gold *ngIf="isGoldOpen"></app-finance-gold>
<app-finance-oil *ngIf="isOilOpen"></app-finance-oil>
<app-finance-currency *ngIf="isCurrencyOpen"></app-finance-currency>
<app-finance-stock *ngIf="isStockOpen"></app-finance-stock>
